# Dictionary Exercise

In [48]:
# Exercise 1: Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict_1=dict()
for i in range(len(keys)):
       dict_1.update({keys[i]: values[i]})

print(dict_1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [14]:
# Exercise 1: Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict_1=dict()
for i in range(len(keys)):
       dict_1[keys[i]]=values[i]

print(dict_1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [53]:
# Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Ten': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [59]:
dict1.keys()

dict_keys(['Ten', 'Thirty', 'Fourty', 'Fifty'])

In [65]:
#Exercise 3: Print the value of key ‘history’ from the below
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [66]:
print(sampleDict)

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}

In [73]:
sampleDict["class"]["student"]["marks"]["history"]

80

In [101]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict_1=dict()
for i in range(len(employees)):
    print(employees[i],defaults)

Kelly {'designation': 'Developer', 'salary': 8000}
Emma {'designation': 'Developer', 'salary': 8000}

In [100]:
dict_1=dict.fromkeys(employees,defaults)
dict_1

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [73]:
#Exercise 5: Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
print(type(sample_dict))
keys=[ "name","salary"]
# for i in  keys:
#     sample_dict.pop(i)
# print(sample_dict)

<class 'dict'>

In [99]:
dict_1={}
for i in keys:
    dict_1[i]=sample_dict[i]

print(dict_1)

{'name': 'Kelly', 'salary': 8000}

In [94]:
# dict_1={}
# sample_key=list(sample_dict.keys())
# sample_values=list(sample_dict.values())
# # for i in sample_key:
# #     dict_1[(i:sample_values[0])]
# #     print(sample_key)
# print(sample_key)

['name', 'age', 'salary', 'city']

In [159]:
#Exercise 7: Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sample_dict.values():
    print("200 is present in dict")

200 is present in dict

In [1]:
#Exercise 8: Rename key of a dictionary
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [2]:
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [10]:
#Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
} 
list1=[]
print(min(sample_dict))
# #for i in sample_dict.values():
#     list1.append(i)
# #print(list1)   
# list1.min()

Math

In [178]:
#Exercise 10: Change value of a key in a nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500

In [180]:
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [3]:
# Write a Python script to sort (ascending and descending) a dictionary by value
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

In [23]:
# Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [26]:
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [49]:
# Exercise 4: Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res=dict.fromkeys(employees,defaults)
    
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [52]:
# Exercise 5: Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

for i in keys:
    new_dict={i:sample_dict[i] for i in keys}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}

In [63]:
# Exercise 6: Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

In [64]:
for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [68]:
# Exercise 7: Check if a value exists in a dictionary
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if  200 in sample_dict.values():
    print("200 is present")

200 is present

In [70]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if "c" in sample_dict.keys():
    print("c is present")

c is present

In [72]:
# Exercise 8: Rename key of a dictionary
# Write a program to rename a key city to a location in the following dictionary.


sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [76]:
sample_dict["Location"]=sample_dict.pop("city")

In [77]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [78]:
# Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [83]:
for i in sample_dict:
    min(i)

In [56]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']