# List Exercise

In [1]:
#Exercise 1: Reverse a list in Python
list1=[100,200,300,400,500]

In [2]:
list2=[]
z=0
for i in range(len(list1)):
    z=z-1
    list2.append(list1[z])
print(list2)

[500, 400, 300, 200, 100]

In [3]:
list2=[]

for i in range(len(list1)-1,-1,-1):
    list2.append(list1[i])
print(list2)

[500, 400, 300, 200, 100]

In [4]:
list1[::-1]

[500, 400, 300, 200, 100]

In [5]:
#Exercise 2: Concatenate two lists index-wise
list1=["M","na","i","ke"]
list2=["y","me","s","lly"]
list3 =[]
x=0
for i in list1:
        list3.append(i+list2[x])
        x=x+1
print(list3)

['My', 'name', 'is', 'kelly']

In [7]:
#Exercise 2: Concatenate two lists index-wise
list1=["M","na","i","ke"]
list2=["y","me","s","lly"]
list3 =[]
for i in range(len(list1)):
        list3.append(list1[i]+list2[i])
        #x=x+1
print(list3)

['My', 'name', 'is', 'kelly']

In [6]:
i+j

NameError: name 'j' is not defined

In [ ]:
#Exercise 3: Turn every item of a list into its square
number=[1,2,3,4,5,6,7]
lst=[]
for i in number:
    number=i**2
    lst.ap
    pend(number)
    
print(lst)

In [9]:
#Exercise 4: Concatenate two lists in the following order



list1=["Hello","take"]
list2=["Dear","Sir"]
list3=[]


#Expected:-['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']
#first we have to take list1 and add with list2.with individual index 

for i in list1:
    for j in list2:
        print(i +" "+j)
        
        #print(i+" "+j)
#     a=0
#     #list1=list1+list2
#     #print(list1)
#     a=a+1

Hello Dear
Hello Sir
take Dear
take Sir

In [11]:
 """story
 in list we have to add with each number.
 for that first we need list then iterate with each number in list to add"""

list3=[-20,30,-40,50,60,70]
a=0

for i in list3:
   # list3=i+a
    a=a+i
    
   
 print(a)

150

In [12]:
"""In this we have to multiply each number with precend number in the list
so first we make loop to iterate each number one by one after that we have use operator with condition and then print the statement"""
made=[2,3,4,5,6,8,9]
a=1
for i in made:
    a=a*i
print(a)

51840

In [ ]:
"""First we have make list with positive int from that int we have 
to sort largest number from the list"""
lim=[10,20,1,3055,3939,8976,10101,2000,4598,6789,4892]
lim.sort()
print("Largest number in the list is:",lim[-1])
print(lim)

In [ ]:
# Write a Python program to get the smallest number from a list.
lim=[10,20,3055,1,3939,8976,10101,2000,4598,6789,4892]
lim.sort()
print(lim)
print("smallest number in the list is",lim[0])

In [14]:
list_1=[10,20,30,40]
list_2=[100,200,300,400]
x=0
for i in range(len(list_1)):
    x=x-1
    
    print(list_1[i],list_2[x])

10 400
20 300
30 200
40 100

##

In [13]:
# Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
    if i=="":
        list1.remove(i)
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#Add new item to list after a specified item
list1[2][2].append(7000)
print(list1)

In [ ]:
#Exercise 8: Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

In [ ]:
#

In [ ]:
#Exercise 9: Replace listâ€™s item with new value if found
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[3]=200
print(list1)

In [ ]:
dir(list)

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index1=list1.index(20)

list1[index1]=200
print(list1)

In [15]:
#Exercise 10: Remove all occurrences of a specific item from a list.
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i==20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]

End Excerice

In [6]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]
transpose=[]
for i in range(len(matrix)+1):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# list comprehension

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

In [8]:
transposed = [[row[i] for row in matrix] for i in range(4)]    #drawback: decrease readibility
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [9]:
def print_name(name):
    """ This function print the name
    """
    string_1="hello "+ str(name)+ " how are you"
    print(string_1)

In [10]:
name1="hemant"
id101=print_name(name1)

hello hemant how are you

In [11]:
print(id101)

None