# List

In [ ]:
# Exercise 1: Write a program to create a list with random data types elements.
# Hint
# List should look like
# [22, ‘PythonLobby’, 22.3]

In [6]:
list_1=[22, "PythonLobby", 22.3]
for i in range(len(list_1)):
    print(list_1[i],type(i))

22 <class 'int'>
PythonLobby <class 'int'>
22.3 <class 'int'>

In [ ]:
# Exercise 2: Write a program to print all the elements of a list in single line.
# Hint
# num = [23,24,54,34]

# Expected output
# 23  24  54  34

In [10]:
num= [23,24,54,34]
for i in range(len(num)):
    print(num[i],end=" ")

23 24 54 34

In [14]:
# Exercise 3: Write a program to count the number of items stored in a list.
# Hint 


# Expected output
# Total count of items are: 5

In [24]:
num = [23, 34, "hello", 32, 56]
count=0
for i in range(len(num)):
    count=count+1
print("Total count of item are:",count)

Total count of item are: 5

In [25]:
# Exercise 4: Write a program to reverse a list in Python.
# Hint 
# num = [23, 34, ‘hello’, 32, 56]

# Expected output
# [56, 32, ‘hello’, 34, 23]

In [31]:
num = [23, 34, "hello", 32, 56]
x=0
for i in range(len(num)):
    x=x-1
    print(num[x])

56
32
hello
34
23

In [ ]:
# Exercise 6: Python program to remove an empty element from a list.
# Hint 
# 

# Expected output
# Result : [‘Hello’, 34, 45, 40]

In [43]:
num = ["Hello", 34, 45, "", 40]
for i in num:
    if i=="":
        num.remove(i)
        print(num)

['Hello', 34, 45, 40]

In [ ]:
# Exercise 7: Python program to append an element to a list.
# Hint 
# Given num = [23,45,67,8,9] Input:
# Enter the item to insert: study

# Expected output
# Result: [23,45,67,8,9, ‘study’]

In [1]:
num = [23,45,67,8,9]
num.append("study")
print(num)

[23, 45, 67, 8, 9, 'study']

In [ ]:
# Exercise 8: Write a program to display those items from a list that is divisible by 5.
# Hint 
# Given num = [3, 5, 7, 9, 23, 15]

# Expected output
# Result: 5  15

In [5]:
num = [3, 5, 7, 9, 23, 15]
for i in  num:
    if i%5==0:
        print(i,end=' ')

5 15

In [ ]:
# Exercise 8: Write a program to sum all the elements of a list.
# Hint 
# Given num = [2,3,2,4,7,8]

#  Expected output
# Sum of list items 26

In [19]:
num = [2,3,2,4,7,8]
x=0
for i in range(len(num)):
    if num-i:
        x=1
    if i>=0:
#         print(i)
        print(x)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [21]:
num=[2,3,2,4,7,8]
max(num)

8

In [22]:
# Exercise 10: Write a program in Python to remove duplicate items from a list.
# Hint 
# Given num = [2,3,4,5,2,6,3,2]

# Expected output
# Result: [2, 3, 4, 5, 6]

In [23]:
num = [2,3,4,5,2,6,3,2]
x=[]
for i in range(len(num)):
    if num[i] not in x:
        x.append(num[i])
    else:
        pass
print(x)

[2, 3, 4, 5, 6]

In [24]:
# Exercise 11: Write a program in Python to choose a random item from a list.
# Hint 
# Given num = [2,3,4,5,6,8,9]

# Expected output
# # Result: 6

In [36]:
# Exercise 12: Write a program to append data of the second list to the first list.
# Hint 
# Given list1 = [23, 24, 25, 26] list2 = [27, 28, 29, 30]

# Expected output
# Result:
# [23, 24, 25, 26, 27, 28, 29, 30]

In [2]:
list1 = [23, 24, 25, 26] 
list2 = [27, 28, 29, 30]
for i in range(len(list2)):
    list1.append(list2[i])
print(list1)

[23, 24, 25, 26, 27, 28, 29, 30]

In [7]:
list1.extend(list2)
print(list1)

[23, 24, 25, 26, 27, 28, 29, 30, [27, 28, 29, 30], 27, 28, 29, 30, 27, 28, 29, 30, 27, 28, 29, 30, 27, 28, 29, 30]

In [8]:
# Exercise 13: Write a program in Python to filter odd and even number from a list.
# Hint 
# Given [2, 23, 24, 51, 46, 67]

# Expected output
# Even [2, 24, 46] Odd [23, 51, 67]

In [18]:
num=[2, 23, 24, 51, 46, 67]
even=[]
odd=[]
for i in range(len(num)):
    if i%2==0:
        even.append(num[i])
    else:
        odd.append(num[i])
print(even)
print(odd)

[2, 24, 46]
[23, 51, 67]

In [19]:
# Exercise 14: Write a program to enter or append n numbers in a list.
# Hint 
# Input: 2
# Enter element at index 1: 2
# Enter element at index 2: 4

# Expected output
# Result: [‘2’, ‘4’]

# STRING`

In [21]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [20]:
# Exercise 1: Write a program to reverse a string in python.
# Hint 
# Input: python`

# Expected output
# Result is: nohtyp

In [68]:
stri=["python"]
x=0
for i in  range(len(stri)):
    x=x-1
    print(stri([x]))

TypeError: 'list' object is not callable

In [3]:
# 1. Write a Python program to calculate the length of a string.
x="Disha"
for i in range(len(x)):
    print(i)

0
1
2
3
4

In [8]:
def string_len(str1):
    count=0
    for i in str1:
        count=count+1
    return count
print (string_len("disha"))

5

In [10]:
string_len("Paridhi kamdar")

14

In [11]:
string_len("Aryawardhan")

11

In [19]:
def num_char(str2):
    count=0
    for i in str2:
        count=count+1
    return str2
print(num_char("Disha"))

Disha

In [44]:
def Character_frequency(str2):
    dict={}
    for i in str2:
        keys=dict.keys()
        
        if i in keys:
            dict[i]=dict[i]+1
            
        else:
            dict[i]=1
    return dict
Character_frequency("google.com")

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [48]:
Character_frequency("www.google.com")

{'w': 3, '.': 2, 'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}

In [49]:
print(Character_frequency("www.disha.com"))

{'w': 3, '.': 2, 'd': 1, 'i': 1, 's': 1, 'h': 1, 'a': 1, 'c': 1, 'o': 1, 'm': 1}

In [50]:
# 3. Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string. If the string length is less than 2, return instead of the empty string. Go to the editor
# Sample String : 'w3resource'
# Expected Result : 'w3ce'
# Sample String : 'w3'
# Expected Result : 'w3w3'
# Sample String : ' w'
# Expected Result : Empty String

In [129]:
def sample_string(str3):
    for i in range(len(str3)):
        if i<2:
            return " "
         return str3[0:2] +str3[-2:]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [130]:
sample_string("Sh")

' '

In [125]:
sample_string("paridhi")

' '

In [1]:
# Make a login portal which allows maximum 3 wrong attempt
for i in range(3):
    
    id=input("There is id name:-")
    pss=input("here you put pssd:-")
    if id=="Disha@23" and pss=="Disha@2911":
        print("Access Grant")
        break
    else:
        print("Access Deined")
        print("One more try")
else:
    print("No more access")

There is id name:- Disha@23
here you put pssd:- Disha@2911

Access Grant

In [2]:
count=0
while count<3:
    id=input("There is id name:-")
    pss=input("here you put pssd:-")
    
     
    if id=="Disha@23" and pss=="Disha@2911":
        print("Access Grant")
        break
        
    else:
        print("Access Deined")
        print("One more try")
        count=count+1

There is id name:- sbyugf
here you put pssd:- bdhs

Access Deined
One more try

There is id name:- Disha@23
here you put pssd:- Disha@2911

Access Grant

In [9]:
# Python program to display the fibonacci sequence up to n-th term using recursive function
n_term_1=0
n_term_2=1
n_term=int(input("The bfibo"))
for i in range (n_term):
    n_term_1=n_term_1+n_term_2
    n_term_2=n_term_1
    print()
    n_term2=n_term
print(n_term)

The bfibo 10

0
1
2
3
4
5
6
7
8
9
10

In [7]:
# Write a program to reverse a number in python without converting it to any other datatype
n=0
for i in range(12):
    
    
    
    
    print(n)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12

In [6]:
# find and wriye the output of the following python code:
x="abcdef"
i="a"
a=0
while i in x:
    print(i,end=" ")

a

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
# Consider the following code
string=input("Enter a string:")
count=3
while True:
    if string[0]=="a":
        string=string[2:]
    elif string[-1]=="b":
        string=string[:2]
    else:
        count=count+1
        break
print(string)
print(count)

Enter a string: aabbcc

bbcc
4

# Dictionary

In [2]:
#Exercise 1: Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

In [29]:
res_dict={}
for i in range(len(keys)):
    res_dict.update({keys[i]:values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [31]:
# Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [35]:
for i in range(len(dict1)):
    dict1.update(dict2)
    
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [36]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [38]:
for i in range(len(sampleDict)):
    print()

0

In [37]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']